# TMBD DATASET

## Importing Data

In [1]:
# Import the relevant modules
import json
import requests
import pandas as pd
import time
import itertools
import os
import numpy as np
import random
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pickle
import datetime
from tqdm import tqdm
import ast

In [2]:
cwd = os.getcwd()
print(cwd)

/Users/zora/Desktop/springboard/Captone_TMDB/TMBD_API/Top10000

In [3]:
files = os.listdir() 
print(files)

['Credit_Top10000.ipynb', 'Movie_Top10000.ipynb', 'Dataset_Top10000.ipynb', '.DS_Store', 'Discover_Top10000.csv', 'Discover_Top10000.ipynb', 'Reviews_Top10000.csv', 'TMDB_Top10000_discover.ipynb', 'Review_Top10000.ipynb', '.ipynb_checkpoints', 'popularity_Top10000.csv', 'Credit_Top10000-keyCrew.ipynb', 'Credit_Top10000.csv', 'keyCrew_Top10000.csv', 'Movie_Top10000.csv']

In [4]:
df = pd.read_csv('Credit_Top10000.csv')
df.head()

,id,cast,crew
0,419704.0,"[{'cast_id': 271, 'character': 'Roy McBride', ...","[{'credit_id': '5a94d2699251413261001e84', 'de..."
1,339095.0,"[{'cast_id': 6, 'character': 'Graham Bricke', ...","[{'credit_id': '5edacda5726fb1002185b68e', 'de..."
2,454626.0,"[{'cast_id': 103, 'character': 'Sonic the Hedg...","[{'credit_id': '5e57fefff48b3400197931fe', 'de..."
3,574982.0,"[{'cast_id': 4, 'character': 'Alena', 'credit_...","[{'credit_id': '5c3bc517c3a36853ce3c18f9', 'de..."
4,496243.0,"[{'cast_id': 0, 'character': 'Kim Ki-taek', 'c...","[{'credit_id': '5e86239298f1f10016ab4889', 'de..."

In [5]:
def get_director(data_str):
    if isinstance(data_str, float):
        pass
    else:
        values = []
        data_str = ast.literal_eval(data_str)
        if isinstance(data_str, list):  
            for i in data_str:
                if i['job']=='Director':
                    values.append(i['name'])
            return "|".join(values)
        else:
            return None

df['Director'] = df[['crew']].applymap(get_director)
df.head()

,id,cast,crew,Director
0,419704.0,"[{'cast_id': 271, 'character': 'Roy McBride', ...","[{'credit_id': '5a94d2699251413261001e84', 'de...",James Gray
1,339095.0,"[{'cast_id': 6, 'character': 'Graham Bricke', ...","[{'credit_id': '5edacda5726fb1002185b68e', 'de...",Olivier Megaton
2,454626.0,"[{'cast_id': 103, 'character': 'Sonic the Hedg...","[{'credit_id': '5e57fefff48b3400197931fe', 'de...",Jeff Fowler
3,574982.0,"[{'cast_id': 4, 'character': 'Alena', 'credit_...","[{'credit_id': '5c3bc517c3a36853ce3c18f9', 'de...",Egor Baranov
4,496243.0,"[{'cast_id': 0, 'character': 'Kim Ki-taek', 'c...","[{'credit_id': '5e86239298f1f10016ab4889', 'de...",Bong Joon-ho

In [6]:
def get_screenplay(data_str):
    if isinstance(data_str, float):
        pass
    else:
        values = []
        data_str = ast.literal_eval(data_str)
        if isinstance(data_str, list):  
            for i in data_str:
                if i['job']== 'Screenplay':
                    values.append(i['name'])
                elif i['job']== 'Writer':
                    values.append(i['name'])
            return "|".join(values)
        else:
            return None

df['Screenplay'] = df[['crew']].applymap(get_screenplay)
df.head()

,id,cast,crew,Director,Screenplay
0,419704.0,"[{'cast_id': 271, 'character': 'Roy McBride', ...","[{'credit_id': '5a94d2699251413261001e84', 'de...",James Gray,James Gray|Ethan Gross
1,339095.0,"[{'cast_id': 6, 'character': 'Graham Bricke', ...","[{'credit_id': '5edacda5726fb1002185b68e', 'de...",Olivier Megaton,Karl Gajdusek
2,454626.0,"[{'cast_id': 103, 'character': 'Sonic the Hedg...","[{'credit_id': '5e57fefff48b3400197931fe', 'de...",Jeff Fowler,Josh Miller|Patrick Casey
3,574982.0,"[{'cast_id': 4, 'character': 'Alena', 'credit_...","[{'credit_id': '5c3bc517c3a36853ce3c18f9', 'de...",Egor Baranov,Ilya Kulikov
4,496243.0,"[{'cast_id': 0, 'character': 'Kim Ki-taek', 'c...","[{'credit_id': '5e86239298f1f10016ab4889', 'de...",Bong Joon-ho,Bong Joon-ho|Han Jin-won

In [7]:
def get_cinematographer(data_str):
    if isinstance(data_str, float):
        pass
    else:
        values = []
        data_str = ast.literal_eval(data_str)
        if isinstance(data_str, list):  
            for i in data_str:
                if i['job']=='Director of Photography':
                    values.append(i['name'])
            return "|".join(values)
        else:
            return None

df['Cinematographer'] = df[['crew']].applymap(get_cinematographer)
df.head()

,id,cast,crew,Director,Screenplay,Cinematographer
0,419704.0,"[{'cast_id': 271, 'character': 'Roy McBride', ...","[{'credit_id': '5a94d2699251413261001e84', 'de...",James Gray,James Gray|Ethan Gross,Hoyte van Hoytema
1,339095.0,"[{'cast_id': 6, 'character': 'Graham Bricke', ...","[{'credit_id': '5edacda5726fb1002185b68e', 'de...",Olivier Megaton,Karl Gajdusek,Daniel Aranyó
2,454626.0,"[{'cast_id': 103, 'character': 'Sonic the Hedg...","[{'credit_id': '5e57fefff48b3400197931fe', 'de...",Jeff Fowler,Josh Miller|Patrick Casey,Stephen F. Windon
3,574982.0,"[{'cast_id': 4, 'character': 'Alena', 'credit_...","[{'credit_id': '5c3bc517c3a36853ce3c18f9', 'de...",Egor Baranov,Ilya Kulikov,Sergey Trofimov|Yury Korobeynikov
4,496243.0,"[{'cast_id': 0, 'character': 'Kim Ki-taek', 'c...","[{'credit_id': '5e86239298f1f10016ab4889', 'de...",Bong Joon-ho,Bong Joon-ho|Han Jin-won,Hong Kyung-pyo

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               9999 non-null   float64
 1   cast             9999 non-null   object
 2   crew             9999 non-null   object
 3   Director         9999 non-null   object
 4   Screenplay       9999 non-null   object
 5   Cinematographer  9999 non-null   object
dtypes: float64(1), object(5)
memory usage: 468.9+ KB

In [10]:
df.isnull().head(15)

       id   cast   crew  Director  Screenplay  Cinematographer
0   False  False  False     False       False            False
1   False  False  False     False       False            False
2   False  False  False     False       False            False
3   False  False  False     False       False            False
4   False  False  False     False       False            False
5   False  False  False     False       False            False
6   False  False  False     False       False            False
7   False  False  False     False       False            False
8   False  False  False     False       False            False
9   False  False  False     False       False            False
10  False  False  False     False       False            False
11  False  False  False     False       False            False
12  False  False  False     False       False            False
13  False  False  False     False       False            False
14  False  False  False     False       False            False

In [11]:
df = df.drop(['cast', 'crew'], axis=1)
df.head(15)

,id,Director,Screenplay,Cinematographer
0,419704.0,James Gray,James Gray|Ethan Gross,Hoyte van Hoytema
1,339095.0,Olivier Megaton,Karl Gajdusek,Daniel Aranyó
2,454626.0,Jeff Fowler,Josh Miller|Patrick Casey,Stephen F. Windon
3,574982.0,Egor Baranov,Ilya Kulikov,Sergey Trofimov|Yury Korobeynikov
4,496243.0,Bong Joon-ho,Bong Joon-ho|Han Jin-won,Hong Kyung-pyo
5,429617.0,Jon Watts,Chris McKenna|Erik Sommers,Matthew J. Lloyd
6,610201.0,Aaron B. Koontz,Keith Lansdale|Aaron B. Koontz|Cameron Burns,
7,338762.0,Dave Wilson,Jeff Wadlow|Eric Heisserer,Jacques Jouffret
8,514847.0,Craig Zobel,Damon Lindelof|Nick Cuse,Darran Tiernan
9,530915.0,Sam Mendes,Sam Mendes|Krysty Wilson-Cairns,Roger Deakins
10,495764.0,Cathy Yan,Christina Hodson,Matthew Libatique
11,290859.0,Tim Miller,David S. Goyer|Billy Ray|Justin Rhodes,Ken Seng
12,508439.0,Dan Scanlon,Dan Scanlon|Keith Bunin|Jason Headley,Sharon Calahan|Adam Habib
13,601844.0,Cary Murnion|Jonathan Milott,Cary Murnion|Jonathan Milott,
14,606679.0,Nisha Ganatra,Flora Greeson,

In [20]:
df.shape

(10000, 4)

In [37]:
df.to_csv('keyCrew_Top10000.csv', index = False)